{% extends 'kernel.html' %}
{% block content %}
    <form action="" method="POST" class="container">{% csrf_token %}
        {% include 'preguntasYrespuestas/form_pregunta.html' %}
        <input type="submit" value="Guardar" class="waves-effect waves-light btn-large blue darken-4">
         <a href="{% url 'preguntas' %}" class="btn waves-effect waves-light btn-large green darken-2">Ir a Preguntas</a>
    </form>
{% endblock %}