{% extends 'kernel.html' %}
{% block content %}
    <div class="container">
        <div class="row">
        <div class="col ">
          <div class="card">
            <div class="card">
              <span class="card-title" ><h2 >{{ pregunta.asunto }}</h2></span>
            </div>
            <div class="card-content">
            <p><b>Publicado: </b>{{ pregunta.fecha_publicacion }}</p>
                <h4>Descripcion</h4>
                <p>
                    {% if pregunta.descripcion %}
                        {{ pregunta.descripcion }}
                    {% else %}
                        No hay descripcion
                    {% endif %}
                </p>
                <h4>Respuestas</h4>
                <ul>
                    {% for respuesta in pregunta.respuesta_set.all %}
                        <li>{{ respuesta.contenido}}</li>
                        <hr>
                    {% empty %}
                        <li> Aun no hay respuestas</li>
                    {% endfor %}
                </ul>
            </div>
          </div>
          <br>
          <div>
               <div class="card">
                <div class="card">
                <span class="card-title" ><h5 >Añadir Respuesta</h5></span>
                </div>
                  <div class="card-content">
                     <label for="id_contenido">Enviar Respuesta</label>
                      <form method="POST">{% csrf_token %}
                          {% for field in form %}
                                <div class="input-field col s6">
                                    {{ field }}
                                </div>
                          {% endfor %}
                          <input type="submit" value="Responder" class="waves-effect waves-light btn teal center"></button>
                      </form>
                  </div>
            </div>
          </div>
        </div>
      </div>
         <div class="row">
            <div class="col ">
                <a href="{% url "editar_pregunta" pregunta.id %} " class="btn waves-effect waves-light blue darken-4"> Modificar</a>
                <a href="{% url 'preguntas' %}" class="btn waves-effect waves-light green darken-2">Ir a Preguntas</a>
            </div>
         </div>
    </div>
{% endblock %}