{% extends 'kernel.html' %}
{% block content %}
    <h3>Bienvenido, Pagina de inicio</h3>
    <a href="{% url 'preguntas' %}" class="btn waves-effect waves-light  green darken-2">Ver Preguntas</a>
{% endblock %}