{% extends 'kernel.html' %}
{% block content %}
    {% if message %}
        <b>{{ message }}</b>
    {% endif %}
    <div class="container formulario" id="logear">
      <div class="card bordered z-depth-2" style="margin:0% auto; max-width:400px;" >
        <div class="card-header">
           <i class="material-icons medium white-text">perm_identity</i>
        </div>
        <div class="card-content">
          <form action="" method="POST">{% csrf_token %}
            {% for field in form %}
                <div class="input-field col s12">
                    {{ field.errors }}
                    {{ field.label_tag }} <br>
                    {{ field }}
                </div>
            {% endfor %}
              <input type="submit"  value="Iniciar" class="waves-effect waves-light btn blue darken-4 right"><i class="material-icons left white-text">perm_identity</i></button>
              <br>
          </form>
        </div>
      </div>
    </div>
{% endblock %}